

<!-- 
<p> {{ $ctrl.post.title }} </p>
<p> {{ $ctrl.post.content }} </p>
<p><img src="{{ $ctrl.post.photourl }}"></p>


<a><button ui-sref="posts">Back to posts</button></a>
<a><button ui-sref="postsEdit({id: $ctrl.post.id})">Edit this post</button></a>
<button ng-click='$ctrl.postDelete($ctrl.post.id)'>Delete this post</button> -->

<div class="showpost">

  <div class="row">
   <div class="row">
    <div class="col s12 m6 l3">
      <div class="card" style="width: 30rem;">
      <div style="margin: 35px;">
         <span class="card-title blue-text text-darken-3"><strong>{{ $ctrl.post.title }}</strong></span>
        <div class="card-image">
          <img style="width:375px; height:300px;" ng-src="{{ $ctrl.post.photourl }}">
        </div>
        <div class="card-content">
          <p>{{ $ctrl.post.content }}</p>
         </div>
         <div class="crud-buttons">
         <a ui-sref="posts"><button class="btn btn-default blue text-white" style="margin: 10px; " >back to posts</button></a>
         <a><button class="btn btn-default orange accent-4 text-white" style="margin: 10px"; ui-sref="postsEdit({id: $ctrl.post.id})">Edit</button></a>
         <button style="margin: 10px;" class="btn btn-default orange darken-3 text-white" ng-click='$ctrl.postDelete($ctrl.post.id)'>Delete</button>
         </div>
        </div>
      </div>
      </div>
    </div>

  </div>

<br>


</div>