<br>
<div class="create">
    <a class="btn btn-default green text-white center" style="margin-left: 550px;" ui-sref="businessesNew">Add a zero waste shop</a>
</div>
<div class="search center">
    <input type="text inputsm" class="glyphicon glyphicon-search" aria-hidden="true" ng-model="searchBox" id="inputsm" placeholder="Search">
</div>
<div ng-repeat="business in $ctrl.businesses | filter:searchBox | orderBy:'-created_at' " class="row">
   <div class="row">
    <div class="col s12 m6 l3">
      <div class="card" style="width: 30em;">
        <div style="margin: 35px;">
          <span class="card-title blue-text text-darken-3"><strong>{{ business.name }}</strong></span>
          <div class="card-image">
            <img style="width:375px; height:300px;" ng-src="{{ business.photourl }}">
          </div>
          <div class="card-content">
          <p>{{ business.description }}</p>
          <a href="{{ business.website }}">Visit website</a>
          <p>{{ business.city }}, {{business.state}}</p>
          <a ui-sref="businessesShow({ id: business.id})">find out more</a>
          </div>
       </div>
      </div>
    </div>
  </div>
</div>

