
<div class="jumbotron">
    <div class="landing">
        <img class="logo" alt="Brand" ng-src="http://imageshack.com/a/img922/9296/C5ad3F.png">
        <br>
        <p class="quote">“Consume less; share better.” 
           ― Hervé Kempf</p>
           <br>
        <div class="appIcons">
            <div class="columns">    
                <ul>
                    <li>

                        <img style="height: 6em; width: 6em;" ng-src="http://i.imgur.com/DSwmL2A.png">
                            <p>find a bulk store or zero waste business near you</p>
                    </li>
                    <li>
                        <img style="height: 6em; width: 6em;" ng-src="http://i.imgur.com/5mRsVoC.png">
                            <p>connect with other zero-wasters</p>
                    </li>
                    <li>
                        <img style="height: 6em; width: 6em;" ng-src="http://i.imgur.com/I7M8SRv.png">
                            <p>share tips and tricks about reducing our waste</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

