
<div class="jumbotron">
    
  
      <div class="landing">
        <img class="logo" alt="Brand" ng-src="http://imageshack.com/a/img922/9296/C5ad3F.png">
        

        <br>
        <p class="quote">“Consume less; share better.” 
           ― Hervé Kempf</p>
        <button class="btn btn-default orange accent-4 text-white" type="button" ui-sref="posts">go to your feed</button>
           
          
        <!-- <div class="buttons">
         <button class="btn btn-success btn-lg">Sign Up</button>
         <a><button class="btn btn-success btn-lg" >Sign In</button></a>
        </div> -->

      </div>
</div>