
<div class="row" style="display:flex; flex-direction: column; justify-content: center; align-items: center; ">
  <div class="card" style="width: 30rem;">
  <div class="new">create a business</div>
<div class="container">
  <label>Name</label>
  <input ng-model="$ctrl.newBusiness.name" />
  <br/>
  <br/>
  <label>Description</label>
  <textarea ng-model="$ctrl.newBusiness.description"></textarea>
  <br/>
  <br/>
  <label>Street</label>
  <input ng-model="$ctrl.newBusiness.street" />
  <br/>
  <br/>
  <label>City</label>
  <input ng-model="$ctrl.newBusiness.city" />
  <br/>
  <br/>
  <label>State</label>
  <input ng-model="$ctrl.newBusiness.state" />
  <br/>
  <br/>
  <label>Zipcode</label>
  <input ng-model="$ctrl.newBusiness.zipcode" />
  <br/>
  <br/>
  <label>longitude</label>
  <input ng-model="$ctrl.newBusiness.longitude" />
  <br/>
  <br/>
  <label>latitude</label>
  <input ng-model="$ctrl.newBusiness.latitude" />
  <br/>
  <br/>
  <label>photourl</label>
  <input ng-model="$ctrl.newBusiness.photourl" />
  <br/>
  <br/>
  <label>website</label>
  <input ng-model="$ctrl.newBusiness.website" />
  <br/>
  <br/>
  <button class="btn btn-default green text-white" style="margin-bottom: 20px" ng-click="$ctrl.saveBusiness()">Save</button>
<form>
</div>
</div>
</div>

